{% extends "base.html"%}
{%block container%}
<div class="row">

  <div class="col-md-12" style="padding-top:10%">

    <div class="row">
      <div class="container">
        <div class="col-sm-8">
          {% if filename%}
          <img style="height: 25%; width: 100%;" src={{"static/"+filename}} alt="">
          {% endif %}
        </div>

        <div class="col-sm-8">
          {% if rgb %}
            <h5>filename: {{filename}}</h5>
              <h5>file size: 20 Kb</h5>
            <h5>gray value: {{grey_value[0], grey_value[1], grey_value[2]}}</h5>
            <h5>rgb value {{rgb[0], rgb[1], rgb[2]}}</h5
            <div class="alert alert-light" role="alert">
                <h3>Hasil klasifikasi</h3>
                <h4>Mentah</h4>
              </div>
          {% else %}
          <h5>no data avaliable</h5>
          {% endif %}
        </div>
      </div>
    </div>
      </div>
    </div>

  </div>
</div>
{%endblock%}
